nav.navbar.navbar-inverse
	.container-fluid
		.navbar-header
			a.navbar-brand(href='#') Liam's Running!
		ul.nav.navbar-nav
			li.active
				a(href='/') Home
			li
				a(href='/products') Products
			li
				a(href='/new-product') New Product
			li
				a(href='http://google.ie', target='_blank') Google
