extends ./layout.jade

block content
    .row
      .holder
        h1
          | Hi Add new product page!
   
        
        form(method="post" action="/new-product")
            fieldset
               label(for="Name") Product Name:
               input(name="name", type="text", placeholder="enter a product name")
               label(for="Price") Book Price
               input(name="price", type="text", placeholder="enter a selling price")
               label(for="Image") Book Image:
               input(name="image", type="text", placeholder="what image will this product have")
               label(for="Activity") Book Activity:
               input(name="activity", type="text", placeholder="what activity will this product have")
               button.button(type="submit") Create New Product
               