extends ./layout.jade

block content 
    .row
      .holder
        h1
          | Hi Im the products page!
          
        
      .grid-container
          each row in res1
            li=res1
              
                
